.footer {
  display: flex;
  align-items: center;
  height: 5rem;
}
.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}
.footer a:hover {
  text-decoration: underline;
}