.header {
  align-items: center;
  color: white;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  width: 100%;
}
.isLogin {
  background-color: #21c08b;
}
.header__img {
  width: 10rem;
}
.header__menu--profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__menu--profile img {
  margin-right: 8px;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
.header__menu--profile p {
  font-size: 1.6rem;
}
.header__menu ul {
  display: none;
  position: absolute;
  text-align: right;
}

.header__menu:hover ul, ul:hover {
	display: block;
}

.header__menu li {
  margin: 10px 0px;
}

.header__menu li a {
  color: white;
  background-color: rgb(121, 105, 196);
  font-size: 1.4rem;
}
