.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 2rem;
    height: calc(100vh - 10rem);
  }  
  .login__container {
    background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    border-radius: 40px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3rem 3rem 2rem;
  }
  .login__container h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  .login__container--form {
    display: flex;
    flex-direction: column;
  }
  .login__container--form label {
    font-size: 1.2rem;
  }
  .login__container--remember-me {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .login__container--remember-me a {
    color: white;
    font-size: 1.2rem;
  }
  .login__container--remember-me a:hover {
    text-decoration: underline;
  }
  .login__container--social-media {
    margin-top: 2.5rem;
  }
  .login__container--social-media > div {
    align-items: center;
    display: flex;
    font-size: 14px;
  }
  .login__container--social-media > div > img {
    margin-right: .2rem;
    width: 2rem;
  }
  .login__container--register {
    margin-top: 1.5rem;
    text-align: center;
  }
  .login__container--register a {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  .login__container--register a:hover {
    text-decoration: underline;
  }
  .login__container--form > .input {
    background-color: transparent;
    border-bottom: 2px solid white;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 1.4rem;
    height: 3rem;
    margin-bottom: 20px;
    outline: none;
    padding: 0px 20px;
    min-width: 90%;
  }
  ::placeholder {
    color: white;
  }
  .button {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 4rem;
    letter-spacing: 1px;
    margin: 10px 0px;
  }