.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  gap: 1rem;
}

.main .isHome {
  width: 70%;
  max-width: 40rem;
}

.main__title {
  color: white;
  font-size: 2rem;
}

.input {
  background-color: rgba(255,255,255,0.1);
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  height: 40px;
  outline: none;
  padding: 0px 20px;
  
}