@import "./Vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}
body {
  position: relative;
  font-family: $theme-font;
  background: $main-color;
  padding: 0 2.5rem;
  @media screen and (min-width: 768px) {
    padding: 0 5rem;
  }
  @media screen and (min-width: 1024px) {
    padding: 0 10rem;
  }
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
input {
  outline: none;
}
::-webkit-scrollbar{ display:none; }

